[Desktop Entry]
Name=Fleet 1.9.231 Public Preview
Icon=jetbrains-fleet
StartupWMClass=jetbrains-fleet
Comment=The next-generation IDE by JetBrains
Exec="/opt/jetbrains-fleet/bin/Fleet" %u
Type=Application
Categories=Development;IDE;
Terminal=false
